body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
  background-color: #101010;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0px; /* Default padding for larger screens */
  height: 100vh; /* Full height for larger screens */
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

/* Navbar styling */
.navbar {
  width: 100%;
  height: 60px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px; /* Padding for navbar */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  border-bottom: 0.5px solid #1d1e23; /* 0.5px bottom border with 50% white opacity */
}

.nav-logo img {
  width: 80px;
}

.nav-buttons button {
  background-color: #ffffff0c;
  color: #ffffff;
  padding: 12px 20px;
  border: 0px solid #ffffff39;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* Fix container to the bottom */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0; /* Fix to the bottom */
  width: 100%;
  height: calc(100vh - 60px); /* Adjust height to account for navbar */
  padding: 0;
  margin-top: 0;
}

.avatar-column {
  width: 46%; /* 50% width for larger screens */
  height: 100%; /* Full height */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Vertically center */
  align-items: center; /* Horizontally center */
  padding: 16px 16px 16px 16px;
  border-right: 0.5px solid #1d1e23;
  background-color: #121315; /* Mid-grey background */
  top-margin: 4px;
}

.controller-column {
  width: 54%; /* 50% width for larger screens */
  height: 100%;
  position: relative;
  background-color: #121315; /* Mid-grey background */
  backdrop-filter: blur(20px);
  padding: 20px;
  border-radius: 8px;
  box-sizing: border-box;
  background-image: url('grain-texture.png');
  background-blend-mode: multiply;
}

.avatar-canvas {
  position: relative;
  width: 98%; /* Slightly smaller width */
  max-width: 650px; /* Max size to prevent excessive growth */
  background-color: #121315;
  border: 0.5px solid rgba(255, 255, 255, 0.122);
  border-radius: 10px;
  aspect-ratio: 1; /* Ensures a 1:1 ratio */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  overflow: hidden; /* Prevent overflow from resizing */
}

.avatar-canvas img.trait {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/* Download Button */
button#downloadBtn {
  background-color: #ffffff0c;
  color: #ffffff;
  font-size: 15px;
  padding: 16px 16px;
  border: 0px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  width: auto;
  height: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: center;
  transition: background-color 0.1s ease, border-color 0.1s ease;
}

button#downloadBtn .download-icon {
  display: inline-block;
  background: url('images/dwnload-icon.png') no-repeat center center;
  width: 20px;
  height: 20px;
  background-size: contain;
}

/* Download Button Hover Effect */
button#downloadBtn:hover {
  background-color: rgba(14, 14, 14, 0.741);
  color: #ffffff;
}

/* Click Effect */
button#downloadBtn:active {
  background-color: rgba(255, 255, 255, 1);
  color: #000000;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 4px;
  padding: 12px 12px;
  border: 0.5px solid rgba(255, 255, 255, 0.212);
  border-radius: 10px;
}

/* Main styling for tablinks buttons */
.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
  width: 100%;
  gap: 8px;
  padding: 0px 0px 0px 0px; /* Top, Right, Bottom, Left padding */
}

.tablinks-container {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
}

.tab button.tablinks {
  background-color: transparent;
  color: white;
  padding: 12px 0px 12px 0px;
  border: 0px solid rgba(255, 255, 255, 0.212);
  border-radius: 0px;
  cursor: pointer;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  height: auto;
  width: auto;
  font-size: 16px;
  flex-grow: 1; /* Allows tabs to grow */
  transition: border 0s ease;
}

/* Active state styling */
.tab button.active {
  background-color: #ffffff;
  color: #000000;
}

/* Hover Effect */
.tab button.tablinks:hover {
  cursor: pointer;
}

/* Grid Layout for Trait Selector with Fixed Aspect Ratio */
.trait-selector {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4px; /* Space between buttons */
  padding: 8px 0px 8px 0px;
}

.trait-selector button {
  width: 100%;
  aspect-ratio: 1 / 1; /* Ensures square buttons */
  padding: 10px;
  border-radius: 0px;
  border: 0.5px solid rgba(255, 255, 255, 0.1);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.1);
  color: transparent;
  cursor: pointer;
  transition: all 0.1s ease;
  font-size: 0; /* Remove the text */
}

.trait-selector button:hover {
  background-color: white;
  color: black;
  border-color: rgba(255, 255, 255, 0.2);
}

/* Randomize Button */
button#randomizeBtn {
  
  background-color: #ffffff0c;
  color: #ffffff;
  font-size: 15px;
  padding: 16px 16px;
  border: 0px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  width: auto;
  height: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: center;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

button#randomizeBtn .randomize-icon {
  display: inline-block;
  background: url('images/random-icon.png') no-repeat center center;
  width: 20px;
  height: 20px;
  background-size: contain;
}

/* Randomize Button Hover Effect */
button#randomizeBtn:hover {
  background-color: rgba(14, 14, 14, 0.741);
  color: #ffffff;
}

/* Button container (Download + Randomize Buttons) */
.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 99%;
  margin-top: 4px;
  padding: 12px 12px;
  border: 0.5px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

/* Responsive Layout */
@media (max-width: 1024px) {
  body {
    height: auto; /* Set body height to auto on mobile */
    overflow: visible; /* Ensure content can expand */
  }

  .container {
    flex-direction: column;
    align-items: center;
    gap: 0px;
    margin-top: 60px;
    height: auto; /* Allow content to expand */
    position: relative; /* For mobile, no fixed bottom positioning */
  }

  .controller-column {
    width: 100%;
    padding: 0px;
  }

  .avatar-column {
    width: 100%;
    padding: 12px;
  }

    /* Button container (Download + Randomize Buttons) */
.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 99%;
  margin-top: 4px;
  padding: 0px 0px;
  border: 00px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

  .tab {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 4px;
    width: 100%;
    padding: 10px 32px 10px 32px;
    overflow-x: auto;
    gap: 4px;
    white-space: nowrap;
    position: relative;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .tab::-webkit-scrollbar {
    display: none;
  }

  /* Right fade effect only */
  .tab::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100px;
    pointer-events: none;
    z-index: 1;
  }

  /* Make tablinks buttons grow dynamically, increase font size */
  .tab button.tablinks {
    flex-grow: 1; /* Allow tablinks to grow dynamically */
    width: auto;
    font-size: calc(14px);
    color: #ffffff;
    padding: 16px 20px;
    background-color: rgba(255, 255, 255, 0.023);
    border-radius: 2px;

  }

  /* Active state styling */
.tab button.active {
  background-color: #ffffff;
  color: #000000;
}

/* Hover Effect */
.tab button.tablinks:hover {
  cursor: pointer;
}

  /* Ensure the trait-selector divs span 100% */
  .trait-selector {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    padding: 8px;
  }

  /* Ensure tab content fills the full width */
  .tabcontent, .trait-slider-wrapper {
    width: 100%;
  }

  
}
